.card {
  height: 300px;
  width: 170px;
}

.card-img-top {
  width: fit-content;
  height: 80%;
}

.card-body {
  justify-content: left;
  margin: 0%;
}
.card-element {
  text-align: left;
  margin: 0;
}

.card-title {
  margin: 0%;
  font-size: 13px;
}

.highlighted {
  color: red;
  font-size: 12px;
  font-weight: bolder;
}

.non-highlighted {
  color: gray;
  font-size: 10px;
}
